html {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header, #locations {
  margin: 0 auto;
}

header h2, h4 {
  background-color: black;
}
/* Navigation */
nav {
  position: fixed;
  background-color: black;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 2;
  top: 0;
}

.logo {
  height: 50px;
  margin: 0 10px;
  float: left;
}

a {
  text-decoration: underline;
  color: seashell;
  padding: 10px;
  float: right;
}

/* Mission Section */
#mission {
  /* Image */
  background-image: url('img-mission-background.jpg');
  height: 700px;
  max-width: 1200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Featured Tea Section */
#feature-tea {
  width: 1000px;
}

.flex-container-tea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container-tea img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

/* Locations Section*/
.flex-container-locations {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Image */
  background-image: url('img-locations-background.jpg');
  height: 500px;
  max-width: 1200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.flex-container-locations div {
  background-color: black;
  opacity: 1;
  width: 300px;
  margin: 15px 20px;
}
